#gsc_container table, #gcs_container_content table{
    border-collapse: separate;
}

#gsc_container td, #gsc_container th {
    display: table-cell;
    vertical-align: inherit;
}

#gsc_container ol, #gsc_container ul {
	list-style: none;
 }

#gsc_container {
    line-height: 1;
    color: black;
    background: white;
 }

#gsc_container fieldset, #gsc_container form, #gsc_container label, #gsc_container legend,
#gsc_container table, #gsc_container caption, #gsc_container tbody, #gsc_container tfoot,
#gsc_container thead, #gsc_container table tr, #gsc_container table th, #gsc_container table td {
 	margin: 0;
 	border: 0;
 	outline: 0;
 	font-weight: inherit;
 	font-style: inherit;
 	font-size: 100%;
 	font-family: inherit;
 	vertical-align: baseline;
    background: #ffffff;
 }

#gsc_container{
    margin: 0;
    padding: 0;
    width: 0px;
    height: 0px;
}

#block-google-custom-search-form .ajax-progress-throbber {
    display: none;
}
#block-google-custom-search-form .message{
    display: none;
}